<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConstructoraWPF.Properties.Settings.connString" connectionString="Data Source=localhost;Initial Catalog=Constructora;User ID=appdesktop;Password=Ma1401777683!;Pooling=False;Encrypt=False" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>